#root {
  margin: 0 auto;
  text-align: center;
}

.add-bar {
  display: flex;
  margin: auto ;
}

@media screen and (min-width: 1080px) {
  .add-bar{
    width: 800px;
  }
}

@media screen and (min-width: 412px) and (max-width: 1080px) {
  .add-bar{
    width: 400px;
  }
}

@media screen and (max-width: 412px) {
  .add-bar{
    width: 360px;
  }
}
