#root {
  margin: 0 auto;
  text-align: center;
}

.flex-box-item {
  display: flex;
  margin: auto ;
}

@media screen and (min-width: 1080px) {
  .auto-resize{
    width: 800px;
  }
}

@media screen and (min-width: 412px) and (max-width: 1080px) {
  .auto-resize{
    width: 400px;
  }
}

@media screen and (max-width: 412px) {
  .auto-resize{
    width: 360px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  row-gap: 10px;
}

.grid-container-list-item {
  display: grid;
  grid-template-columns: auto max-content;
}

.grid-item-name {
  text-align: left;
}